html,
body,
header,
main,
div {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

header {
  border: 1px solid #000;
  margin: 10px auto;
  max-width: 550px;
  width: 100%;
}
header h1 {
  font-size: 0.8rem;
}

main#container {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  min-height: 250px;
  height: 100%;
}
main#container div#torres {
  border: 1px solid #000;
  margin: 0 auto;
  min-width: 500px;
  width: 100%;
  min-height: 200px;
  height: 100%;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
}

main#container div#torre2 {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.torre-forma {
  min-width: 180px;
  width: 100%;
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;
  justify-content: flex-start;
}

div#disco1 {
  background-color: #009;
  width: 50px;
  height: 30px;
}
div#disco2 {
  background-color: #929;
  width: 75px;
  height: 30px;
}
div#disco3 {
  background-color: #090;
  width: 100px;
  height: 30px;
}
div#disco4 {
  background-color: #900;
  width: 125px;
  height: 30px;
}

div#controle {
  margin: 10px auto;
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
div#controle div#placar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}

span {
  padding: 0 0 0 7px;
}

div#botao {
  padding: 5px;
}
div#botao button#reset {
  border: none;
  box-shadow: 0 0 5px #808080;
  text-transform: uppercase;
}
div#controle button#reset:hover {
  cursor: pointer;
}

div.discForm:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 3px #808080;
}

div#haste1 {
  top: 50px;
  left: 87px;
}
div#haste2 {
  top: 50px;
  left: 270px;
}
div#haste3 {
  top: 50px;
  left: 453px;
}

.hastes {
  max-width: 10px;
  width: 100%;
  max-height: 150px;
  height: 100%;
  position: absolute;
  z-index: -10;
  background-color: #000;
}

.discForm {
  border: 1px solid #000;
  border-radius: 5px;
}
