main #torres {
  display: flex;
}

main #torre1 {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}
main #torre2 {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}

main #torre3 {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}
